# Node
node_modules/
npm-debug.log*
yarn.lock
.pnpm-store/

# Python
__pycache__/
.venv/
*.pyc
.pytest_cache/

# Env
.env
.env.*.local

# Build
dist/
build/
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
